/* IceCream.css */

@keyframes draw {
    0% {
        stroke-dasharray: 0, 1000;
    }

    100% {
        stroke-dasharray: 1000, 0;
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }

    100% {
        fill: #FFF;
    }
}

.main-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 12s ease-in-out forwards, fill  ease-in-out forwards 5s;
}